/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@300;400;500;600&display=swap');  */

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@300;400;500;600&family=Playfair+Display:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    /* --theme-blue: #053141; */
    --pink:#d82b7d;
    --purple:#8b4c9e;
    --purple-dark:#431F72;
}

.arrow{
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}

.text-primary{
    color: var(--pink);
}

/* CSS For Navigation Bar */

.navbar{
    /* background:#f9f9f9; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}

.row-1{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size:small;
    color:#000;
}

.row-1 ul{
    list-style: none;
}

.row-1 ul li{
    margin:5px 10px;
}

.row-1 ul li a{
    text-decoration: none;
    color: #000;
    /* color: var(--pink); */
}

.navbar .row-1 .row-list{
    display: flex;
    /* justify-content: center; */
    margin-right: 10px;
}

.navbar .row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .row-2 h2{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin: 3px 8px;
    color: var(--purple-dark);
}

.navbar .row-2 .search-bar{
    width: 30%;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 0px 15px;
    color: #777;
    border-radius: 2px;
}

.navbar .row-2 input{
    background-color: rgb(224, 224, 224);
    border: none;
    width: 100%;
    height: 70%;
}

.navbar .row-2 input:focus{
    outline: none;
}

.navbar .row-2 .menu-primary{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar .row-2 .menu-primary .menu-item{
    display:flex;
    align-items: center;
    margin: 10px;
}

.navbar .row-2 .menu-primary .menu-item img{
    height: 30px;
    margin-right: 5px;
}

.navbar .row-2 .menu-primary .menu-item .menu-desc{
    font-size: 0.8em;
}


.row-3 ul{
    display: flex;
}

.row-3 ul li{
    list-style: none;
    margin: 5px 10px;

}

.row-3 ul li:first-child{
    color: var(--pink);
    font-weight: 600;
}

.row-3 ul li:hover{
    cursor: pointer;
    color: var(--pink);
}

/* CSS For wide Banners */

.wide-banner.female{
    margin: 20px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wide-banner img{
    width: 100%;
    position: relative;
}

.wide-banner .img-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.wide-banner .img-section img{
    width: 222px;
}

.wide-banner .img-section .img-block{
    position: relative;
    /* height: 250px;
    width: 250px; */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    /* height: 250px; */
}

.wide-banner .img-section .img-block:first-child{
    margin: 0px;
}

.wide-banner .img-section .img-block img{
    z-index: 0;
}

.wide-banner .img-section .img-block p{
    position: absolute;
    /* bottom: 4px; */
    margin: auto;
    text-align:center;
    color: var(--pink);
    background: #fff;
    width: 70%;
    z-index: 1;
    line-height: 35px;
}

.wide-banner .img-section .image-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 10px;
}


.wide-banner .for-her{
    display: flex;
    width: 300px;
    flex-direction: column;
}

.wide-banner.female .for-her img{
    width: 200px;
    margin: 10px;
}

.wide-banner.male{
    margin: 20px 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wide-banner .for-him{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-left: 50px;
}

.wide-banner.male .for-him img{
    width: 200px;
    margin: 10px;
}